<!doctype html>
<html lang="ru">
<head>
	<title>ToDo List</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="initial-scale=1" />
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'list/css/styles.css' %}" />

	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	
	{% comment %} <script srt="{% static 'list/js/js.js' %}"></script> {% endcomment %}
	
	{% comment %} <script src="{% static 'list/js/js.js' %}"></script> {% endcomment %}
</head>
<body>
	<h1 class="title">Список дел</h1>
	<hr class="title">
	<table>
		<tr>
			<form method="POST">
			{% csrf_token %}
			<td class="checkbox">+</td>
			{% for field in addForm %}
			{% comment %} {{ field.errors }} {% endcomment %}
			<td>{{ field }}</td>
			{% endfor %}
			<td class="button"><button class="add" onclick="addItem();">↓</button></td>
			{% comment %} <input type="submit"> {% endcomment %}
			</form>
		</tr>
		<tr>
			<td colspan="3"><br></td>
		</tr>
		{% for title, list in lists %}
		<tr>
			<td colspan="3"><h2>{{ title | upper }}</h2></td>
		</tr>
		{% for item, mark_done_form, remove_form in list %}
		<tr>
			<td class="checkbox">
				<form action="markDone" method="POST">
					{% csrf_token %}
					{% for field in mark_done_form %}
					{{ field }}
					{% endfor %}
				</form>
			</td>
			<td>{{ item.content }}</td>
			<td class="deadline">{{ item.deadline }}</td>
			<td class="button">
				<form action="remove" method="POST">
					{% csrf_token %}
					{% for field in remove_form %}
					{{ field }}
					{% endfor %}
					<button class="remove">X</button>
				</form>
			</td>
		<tr>
		{% endfor %}
		{% endfor %}
	<table>
</body>
</html>